{% extends 'base.html.twig' %}



{% block body %}
    <div class="container">
    </br>

    <button> <a target="_blank" href="ajoutruche" onclick="window.open(this.href, 'Titre','target=_parent, height=350, width=550, top=200, ' +
                    'left=200, color=black, toolbar=no, menubar=no, location=no, resizable=no, scrollbars=no, status=no'); return false" style="font-size: 12px">
        Ajouter ruche
        </a> </button>


    </br> </br>

    <table class="table table-striped">
            <tr>
                <th>Nom Ruche</th>
                <th>Latitude</th>
                <th>Longitude</th>

            </tr>

        {% for ruche in liste_ruche %}
            <tr>
                <td>{{ ruche.nomRuche }}</td>
                <td>{{ ruche.latitude }}</td>
                <td>{{ ruche.longitude }}</td>

                <td>
                    <button> <a target="_blank" href="inforuche/{{ ruche.id }}" onclick="window.open(this.href, 'Titre','target=_parent, height=350, width=550, top=200, ' +
                    'left=200, color=black, toolbar=no, menubar=no, location=no, resizable=no, scrollbars=no, status=no'); return false" style="font-size: 12px">
                            liste intervention
                        </a> </button>
                </td>

                <td>
                    <button> <a target="_blank" href="inforecolte/{{ ruche.id }}" onclick="window.open(this.href, 'Titre','target=_parent, height=350, width=550, top=200, ' +
                    'left=200, color=black, toolbar=no, menubar=no, location=no, resizable=no, scrollbars=no, status=no'); return false" style="font-size: 12px">
                            Production
                        </a> </button>
                </td>
                <td><button> <a target="_blank" href="supp/{{ ruche.id }}" onclick="window.open(this.href, 'Titre','target=_parent, height=350, width=550, top=200, ' +
                    'left=200, color=black, toolbar=no, menubar=no, location=no, resizable=no, scrollbars=no, status=no'); return false" style="font-size: 12px">
                            Supprimer
                        </a> </button>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="8">Aucune ruche</td></tr>
        {% endfor %}

    </table>
    <div class="text-center">{{ knp_pagination_render(liste_ruche) }}</div>

    </div>

        {% endblock %}


{% block stylesheets %}
<style>
    table{
        border-color:yellow;
    }

</style>
{% endblock %}
